In [16]:
import pandas as pd
import numpy as np
import pickle

import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils

In [17]:
df_train=pd.read_csv('newtrain.csv',index_col=False)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,255,255,255,223,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
2,0,0,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
3,255,255,255,255,255,255,255,0,0,0,...,0,0,0,0,0,0,0,0,0,10
4,255,255,255,223,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10

In [18]:
labels=df_train[['784']]

In [19]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
print(df_train.shape)
df_train.head()

(16513, 784)

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,223,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,223,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
np.random.seed(1212)

In [6]:
labels=np.array(labels)

In [7]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=20)

In [8]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [9]:
l=[]
for i in range(16513):
    l.append(np.array(df_train[i:i+1]).reshape(28,28,1))

In [10]:
np.random.seed(7)

In [11]:
model=Sequential()
model.add( Conv2D(30, (5, 5), input_shape=( 28, 28,1), activation='relu') )
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(60, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
# model.add(Dense(32, activation='relu'))
model.add(Dense(20, activation='softmax'))

In [20]:
model.compile(loss="categorical_crossentropy", optimizer="adam",metrics=['accuracy'])
#model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 24, 24, 30)        780

 max_pooling2d (MaxPooling2D  (None, 12, 12, 30)       0
 )

 conv2d_1 (Conv2D)           (None, 10, 10, 60)        16260

 max_pooling2d_1 (MaxPooling  (None, 5, 5, 60)         0
 2D)

 dropout (Dropout)           (None, 5, 5, 60)          0

 flatten (Flatten)           (None, 1500)              0

 dense (Dense)               (None, 256)               384256

 dense_1 (Dense)             (None, 128)               32896

 dense_2 (Dense)             (None, 64)                8256

 dense_3 (Dense)             (None, 20)                1300

=================================================================
Total params: 443,748
Trainable params: 443,748
Non-trainable params: 0
_________________________________________________________________

In [13]:
model.fit(np.array(l), cat, epochs=10, shuffle=True)

Epoch 1/10
517/517 [==============================] - 9s 16ms/step - loss: 0.8918 - accuracy: 0.7371
Epoch 2/10
517/517 [==============================] - 8s 16ms/step - loss: 0.2994 - accuracy: 0.8923
Epoch 3/10
517/517 [==============================] - 8s 16ms/step - loss: 0.2222 - accuracy: 0.9147
Epoch 4/10
517/517 [==============================] - 8s 16ms/step - loss: 0.1864 - accuracy: 0.9259
Epoch 5/10
517/517 [==============================] - 8s 16ms/step - loss: 0.1681 - accuracy: 0.9320
Epoch 6/10
517/517 [==============================] - 8s 16ms/step - loss: 0.1557 - accuracy: 0.9348
Epoch 7/10
517/517 [==============================] - 8s 16ms/step - loss: 0.1481 - accuracy: 0.9384
Epoch 8/10
517/517 [==============================] - 8s 16ms/step - loss: 0.1396 - accuracy: 0.9417
Epoch 9/10
517/517 [==============================] - 8s 16ms/step - loss: 0.1431 - accuracy: 0.9422
Epoch 10/10
517/517 [==============================] - 8s 16ms/step - loss: 0.1236 - accuracy: 0.9476

In [14]:
model.save('modelnew.keras')